.navbar {
    // background:#6E2565 ;
    // background: white;
    background: #AA076B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-fluid{
    padding: 0;
}

.bg-purple{
    //  background: #9c27b0;
    // background: #6E2565;
    background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    max-height: 8vh;
}

.dropdown-toggle{
 color: white !important;

}

.ml-6{
    margin-left: 4em !important;
}

.dropdown-menu > a {
    color: #6E2565;
}

.user-icon {
    width: 23px;
}

.nav-front{
    z-index: 99999;
}

h4{
    color: #FFFFFF;
    font-size: 25px;
    font-family:sans-serif;
}

h3{
    color: #2d98da;
    font-family:Tahoma;
    font-size: 35px;
}
li a.nav-link{
font-family:Verdana;
color: white;
// color: #6E2565;

}
div a.dropdown-item{
    font-family:Verdana;
    color:black;
}
div.dropdown-menu{
//    background:#a5b1c2; 
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
img{
     border-radius: 3%;
}
