.navbar {
    background: white ;
}
.container-fluid{
    padding: 0;
}

.bg-purple{
    background: #6E2565;
    max-height: 8vh;
}

.dropdown-toggle{
 color: white !important;

}

.ml-6{
    margin-left: 4em !important;
}

.dropdown-menu > a {
    color: #6E2565;
}

.user-icon {
    width: 23px;
}

.nav-front{
    z-index: 99999;
}

h4{
    color: #FFFFFF;
    font-size: 25px;
    font-family:sans-serif;
}

h3{
    color: #2d98da;
    font-family:Tahoma;
    font-size: 35px;
}
li a.nav-link{
font-family:Verdana;
color: #6E2565;
}
div a.dropdown-item{
    font-family:Verdana;
    color:#6E2565;
}
div.dropdown-menu{
   background:#a5b1c2; 
}
// #cad8e0
// #8897a9 
// #c8c7d5