.navbar {
    background: white ;
}
.container-fluid{
    padding: 0;
}

.bg-purple{
    background: #6E2565;
    max-height: 8vh;
}

.dropdown-toggle{
 color: white !important;

}

.ml-6{
    margin-left: 4em !important;
}

.dropdown-menu > a {
    color: #6E2565;
}

.user-icon {
    width: 23px;
}

.nav-front{
    z-index: 99999;
}

h4{
    color: #FFFFFF;
}

h3{
    color: #7FC9ED;
}