<mat-sidenav-container class="example-container m-4 rounded">
    [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
    <mat-sidenav
      position="end"
      #sidenav
      mode="over"
      [disableClose]="true"
      [(opened)]="CreateSidenavClosed"
      class="example-sidenav"
      [fixedBottomGap]="options.value.bottom"
    >
      <div class="container-fluid add-edit-sidenav">
        <div class="row a">
          <div class="col-12 sidenav-actions d-flex justify-content-between">
            <!-- <button mat-button color="primary" (click)="sidenav.toggle()"><mat-icon>close</mat-icon></button> -->
            <h4 nz-title *ngIf="!editbutton">Agregar Política</h4>
            <h4 nz-title *ngIf="editbutton">Editar Política</h4>
            <button mat-mini-fab (click)="sidenav.toggle(); resetForm()" color="basic">
              <span class="m-0 close-sidenav">
                <mat-icon>close</mat-icon>
              </span>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-6">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Política</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la política">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de política</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>MTM</option>
                  <option>Externo</option>
                  <option>Interno</option>
                  <option>Otro</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descripción</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
          </div>
        </div>
          <div class="row d-flex flex-row justify-content-center">
            <nz-table
            #basicTable
            [nzData]="listTest"
            [nzFrontPagination]="false"
            [nzLoading]="loadingTableTest"
            nzShowSizeChanger
            [nzTotal]="paginateTestModel.total"
            [(nzPageIndex)]="paginateTestModel.page"
            [(nzPageSize)]="paginateTestModel.itemsPage"
            (nzPageIndexChange)="paginarTest()"
            (nzPageSizeChange)="paginarTest()"
            [nzNoResult]="NoResult"
            [nzPageSizeOptions]="listPageSize"
            [nzPaginationPosition]="'both'"
            [nzShowPagination]="true"
            [nzShowPagination]="pagination"
            class="m-3"
          >
            <thead>
              <tr>
                <th>Selecionar Recurso(s)</th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort._id" (nzSortChange)="ordenar('_id', $event)" nzCustomFilter>
                  Code
                  <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                    [nzDropdownMenu]="modalId" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click" 
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                </th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.test" (nzSortChange)="ordenar('test', $event)" nzCustomFilter>
                   Recurso
                  <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                    [nzDropdownMenu]="modalTest" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                </th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.active" (nzSortChange)="ordenar('active', $event)" nzCustomFilter>
                  Recurso Padre
                </th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.updateUser" (nzSortChange)="ordenar('updateUser', $event)" nzCustomFilter>
                  Tipo
                </th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.createUser" (nzSortChange)="ordenar('createUser', $event)" nzCustomFilter>
                  Metodo
                </th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.createdAt" (nzSortChange)="ordenar('createdAt', $event)" nzCustomFilter>
                  Proyecto
                  <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                    [nzDropdownMenu]="modalCreatedAt" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
                </th>
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.updatedAt" (nzSortChange)="ordenar('updatedAt', $event)" nzCustomFilter>
                  Aplicación
                </th> 
                <th nzShowSort [(nzSort)]="paginateTestModel.sort.updatedAt" (nzSortChange)="ordenar('updatedAt', $event)" nzCustomFilter>
                  Estatus
                </th>          
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of basicTable.data" (click)="openEditSidenav(item)"> -->
                <tr *ngFor="let item of basicTable.data">
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  </div>
                  <!-- <mat-icon matTooltip="{{ 'general.edit' | translate }}" class="cursor" (click)="openEditSidenav(item)">edit</mat-icon>
                  <mat-icon matTooltip="{{ 'general.delete' | translate }}" class="cursor" *ngIf="!item.active"  (click)="delete_confirm()">delete</mat-icon>
                  <mat-icon matTooltip="{{ 'general.restore' | translate }}" class="cursor" *ngIf="item.active" (click)="restore_confirm()">restore_from_trash</mat-icon> -->
                </td>
                <td>SIC-RSC-000001</td>
                <td>Security Tokens</td>
                <td>Login</td>
                <td>View</td>
                <td>Post</td>
                <td>SICORE WEB</td>
                <td>SICORE</td>
                <td>Activo</td>
              </tr>
            </tbody>
          </nz-table>
          </div>
          <div class="row">
            <div class="col-12 align-items-center">
              <div class="actions-buttons-container d-flex flex-row justify-content-center">
                <button mat-button color="basic" (click)="sidenav.toggle()" class="open-create-edit-sidenav cancel">
                  Cancelar
                </button>
                <button mat-button color="primary" (click)="sidenav.toggle()" class="open-create-edit-sidenav create" *ngIf="!editbutton" (click)="create_successful()">
                  Guardar
                </button>

                <button mat-button color="primary" (click)="sidenav.toggle()" class="open-create-edit-sidenav create" *ngIf="editbutton" (click)="update_successful()">
                  Guardar
                </button>
              </div>
            </div>
          </div>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content [formGroup]="options">
      <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center align-items-center ">
          <h2 style="font-family: sans-serif; color: #5E8BA1;">Administración de Políticas</h2>
        </div>
        <div class="col-2">
        <div class="container-fluid">
            <div class="col-12 d-flex justify-content-end align-items-end">
              <button type="button" class="btn btn-outline-secondary mt-2" (click)="sidenav.toggle(); editbutton = false">
                <div class="row m-1">
                    <mat-icon>add</mat-icon>
                  Agregar
                </div>
              </button> 
            </div>
        </div>
      </div>
      </div>
  
      <nz-table
        #basicTable
        [nzData]="listTest"
        [nzFrontPagination]="false"
        [nzLoading]="loadingTableTest"
        nzShowSizeChanger
        [nzTotal]="paginateTestModel.total"
        [(nzPageIndex)]="paginateTestModel.page"
        [(nzPageSize)]="paginateTestModel.itemsPage"
        (nzPageIndexChange)="paginarTest()"
        (nzPageSizeChange)="paginarTest()"
        [nzNoResult]="NoResult"
        [nzPageSizeOptions]="listPageSize"
        [nzPaginationPosition]="'both'"
        [nzShowPagination]="true"
        [nzShowPagination]="pagination"
        class="m-3"
      >
        <thead>
          <tr>
            <th nzRight="0px">{{ "general.actions" | translate }}</th>
            <th nzShowSort [(nzSort)]="paginateTestModel.sort._id" (nzSortChange)="ordenar('_id', $event)" nzCustomFilter>
              Code
              <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                [nzDropdownMenu]="modalId" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click" 
                nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
            </th>
            <th nzShowSort [(nzSort)]="paginateTestModel.sort.test" (nzSortChange)="ordenar('test', $event)" nzCustomFilter>
              Política
              <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                [nzDropdownMenu]="modalTest" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
            </th>
            <th nzShowSort [(nzSort)]="paginateTestModel.sort.active" (nzSortChange)="ordenar('active', $event)" nzCustomFilter>
              Descripción
            </th>
            <th nzShowSort [(nzSort)]="paginateTestModel.sort.updateUser" (nzSortChange)="ordenar('updateUser', $event)" nzCustomFilter>
              Tipo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basicTable.data">
            <td nzRight="0px">
              <mat-icon matTooltip="{{ 'general.edit' | translate }}" class="cursor" (click)="openEditSidenav(item)">edit</mat-icon>
              <mat-icon matTooltip="{{ 'general.delete' | translate }}" class="cursor" *ngIf="!item.active"  (click)="delete_confirm()">delete</mat-icon>
              <mat-icon matTooltip="{{ 'general.restore' | translate }}" class="cursor" *ngIf="item.active" (click)="restore_confirm()">restore_from_trash</mat-icon>
            </td>
            <td>SIC-AP-000001</td>
            <td>Registro de Usuarios</td>
            <td>Permite registrar nuevos usuarios al sistema</td>
            <td>Interno</td>
  
          </tr>
        </tbody>
      </nz-table>
      <!-- Filtros -->
      <nz-dropdown-menu #modalId="nzDropdownMenu">
        <div class="search-box">
          <input type="text" nz-input placeholder="{{ 'general.search' | translate }}" [(ngModel)]="paginateTestModel.filters._id"/>
          <button nz-button nzSize="small" nzType="primary" (click)="paginarTest()" class="search-button">
            {{ "general.search" | translate }}
          </button>
          <button nz-button nzSize="small" (click)="paginateTestModel.filters._id = ''; paginarTest()" class="ml-2">
            {{ "general.reset" | translate }}
          </button>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #modalTest="nzDropdownMenu">
        <div class="search-box">
          <input type="text" nz-input placeholder="{{ 'general.search' | translate }}" [(ngModel)]="paginateTestModel.filters.test"/>
          <button nz-button nzSize="small" nzType="primary" (click)="paginarTest()" class="search-button">
            {{ "general.search" | translate }}
          </button>
          <button nz-button nzSize="small" (click)="paginateTestModel.filters.test = ''; paginarTest()" class="ml-2">
            {{ "general.reset" | translate }}
          </button>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #modalCreatedAt="nzDropdownMenu">
        <div class="search-box">
          <nz-range-picker [nzFormat]="formatoFecha" [nzPlaceHolder]="listaPlaceHolder" [nzRanges]="listaRangosPredefinidos"
            [ngModel]="fechasIniciales" (ngModelChange)="setFilterCreatedAt($event)">
          </nz-range-picker>
          <button nz-button nzSize="small" nzType="primary" (click)="paginarTest()" class="search-button">
            {{ "general.search" | translate }}
          </button>
          <button nz-button nzSize="small" (click)="paginateTestModel.filters.createdAt = {}; paginarTest()" class="ml-2">
            {{ "general.reset" | translate }}
          </button>
        </div>
      </nz-dropdown-menu>
      <!-- Fin Filtros -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  
